@font-face {
    font-family: 'AtkinsonHyperlegibleNext';
    src: url('/assets/fonts/AtkinsonHyperlegibleNextVF-Variable.woff2') format('woff2');
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/assets/fonts/OpenDyslexic3-Regular.woff2') format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/assets/fonts/OpenDyslexic3-Bold.woff2') format('woff2');
    font-weight: bold;
}

:root {
    --black: #222;
    --white: #fff;
    --color: var(--black);
    --bg-color: var(--white);
    --accent: #0d47a1;
    font-size: 24px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: var(--white);
        --bg-color: var(--black);
        --accent: #ffb300;
    }
}

a[href="#content"],
.screen-reader-text {
    position: absolute;
    left: -9999px;
}

.noscript,
.hidden {
    display: none;
}

html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'AtkinsonHyperlegibleNext';
    letter-spacing: .04em;
    line-height: 1.6em;
    background: var(--bg-color);
    color: var(--color);
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
}

main {
    margin-inline: auto;

    & > *:not(h1) {
        max-width: 60vw;
        margin-inline: auto;
    }
}

section {
    margin-block: 4em 3em;
}

p#font {
    font-family: 'OpenDyslexic';
}

h1, h2, h3, h4 {
    line-height: 1em;
}

h1 {
    font-size: 3.5em;
    font-weight: 100;
    margin-block: .5em 0;
    border-bottom: 1px solid var(--color);
    width: 100vw;
    padding-block: .15em .7em;
    padding-inline: 1em;
    box-sizing: border-box;
}

h2 {
    font-size: 2.3em;
    font-weight: 200;
}

h3 {
    font-size: 1.2em;
    font-weight: 300;
    margin-block: .5em;
}

h4 {
    font-size: 1.3em;
    font-weight: 400;
    margin-block: 0 .7em;
}

a,
a:visited {
    color: var(--accent);

    &:hover {
        text-decoration: none;
    }
}

#schedule-list--container > ul {
    & li {
        & article {
            margin-block: 2em;
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--color);
        }
    }
}

.reset-list {
    list-style: none;
    padding: 0;
}

footer {
    border-top: 1px solid var(--color);
    padding-block: 1.2em 3em;

    & nav {
        width: 100%;
    }
}

nav[aria-label="Social Media"] {
    width: 100%;
    height: 56px;

    & ul {
        display: flex;
        justify-content: space-around;
        margin: 0;
        padding-block: 10px;
    }

    & a {
        fill: var(--accent); 

        & svg:hover {
            transform: scale(1.1);
        }
    }
}

@media screen and (max-width: 600px) {
    :root {
        font-size: 20px;
    }

    body {
        line-height: 1.4em;
    }

    main {
        width: 100vw;

        & > *:not(h1) {
            max-width: 90vw;
        }
    }

    header {
        padding-block-end: 1em;
    }

    h1, h2, h3, h4 {
        line-height: 1.4em;
    }
    
    h1 {
        font-size: 2em;
    }

    h2 {
        font-size: 1.8em;
    }

    h3 {
        font-size: 1.1em;
    }

    h4 {
        font-size: 1.2em;
    }
}
