@font-face {
    font-family: 'OpenDyslexic';
    src: url('/assets/fonts/OpenDyslexic3-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'OpenDyslexic';
    src: url('/assets/fonts/OpenDyslexic3-Bold.ttf') format('truetype');
    font-weight: bold;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'OpenDyslexic';
    background: #fff;
    color: #222;
    letter-spacing: .1em;
    line-height: 2.4em;
    padding: 0;
    margin: 0;
}

a {
    color: #7746d3;
}
a:visited {
    color: #b12cb1;
}
a:hover {
    color: #4b0ac4;
}
a:visited:hover {
    color: #920fa3;
}

header {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

header img {
    height: 2em;
}

header img[alt="facebook"] {
    filter:
        invert(31%)
        sepia(94%)
        saturate(3780%)
        hue-rotate(212deg)
        brightness(99%)
        contrast(108%);
}

header img[alt="youtube"] {
    filter: 
        brightness(0)
        saturate(100%)
        invert(11%)
        sepia(94%)
        saturate(7267%)
        hue-rotate(10deg)
        brightness(103%)
        contrast(115%);
}

h1, h2 {
    line-height: 2.6em;
}

#info {
    flex-basis: 100vw;
}
#term-dates, #events {
    flex-basis: 50vw;
    flex-grow: 1;
    min-width: 40vw;
}
main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
}
main > div {
    align-self: start;
}

.entry h3{
    font-size: 1em;
}

.entry {
    padding: .5em 1em;
    margin: .2em;
}